<%= form_for @bio, :html => { :multipart => true } do |bio| %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <%= bio.label :first_name %>
  <%= bio.text_field :first_name %><br>
  <%= bio.label :last_name %>
  <%= bio.text_field :last_name %><br>
  <%= bio.label :real_title %>
  <%= bio.text_field :real_title %><br>
  <%= bio.label :funny_title %>
  <%= bio.text_field :funny_title %><br>
  <%= bio.label :overview %>
  <%= bio.text_area :overview %><br>
  <%= bio.label :question1 %>
  <%= bio.text_field :question1 %><br>
  <%= bio.label :answer1 %>
  <%= bio.text_field :answer1 %><br>
  <%= bio.label :question2 %>
  <%= bio.text_field :question2 %><br>
  <%= bio.label :answer2 %>
  <%= bio.text_field :answer2 %><br>
  <%= bio.label :question3 %>
  <%= bio.text_field :question3 %><br>
  <%= bio.label :answer3 %>
  <%= bio.text_field :answer3 %><br>
  <%= bio.label :question4 %>
  <%= bio.text_field :question4 %><br>
  <%= bio.label :answer4 %>
  <%= bio.text_field :answer4 %><br>
  <%= bio.label :question5 %>
  <%= bio.text_field :question5 %><br>
  <%= bio.label :answer5 %>
  <%= bio.text_field :answer5 %><br>
  <p>Enter 1-9 for skill value.</p>
  <%= bio.label :skill1 %>
  <%= bio.text_field :skill1 %><br>
  <%= bio.label :skill1_value %>
  <%= bio.text_field :skill1_value %><br>
  <%= bio.label :skill2 %>
  <%= bio.text_field :skill2 %><br>
  <%= bio.label :skill2_value %>
  <%= bio.text_field :skill2_value %><br>
  <%= bio.label :skill3 %>
  <%= bio.text_field :skill3 %><br>
  <%= bio.label :skill3_value %>
  <%= bio.text_field :skill3_value %><br>
  <%= bio.label :skill4 %>
  <%= bio.text_field :skill4 %><br>
  <%= bio.label :skill4_value %>
  <%= bio.text_field :skill4_value %><br>
  <%= bio.label :bio_pic %>
  <%= bio.file_field :bio_pic %><br>
  <%= bio.label :mobile_bg %>
  <%= bio.file_field :mobile_bg %><br>
  <%= bio.label :large_bio_pic %>
  <%= bio.file_field :large_bio_pic %><br>
  <p>Enter a # to indicate the order to display the record. Rick is 1, Lisa is 2, etc.</p>
  <%= bio.label :order %>
  <%= bio.text_field :order %><br><br><br>
  <%= bio.submit %>
<% end %>