<main>
    <div class="wrapper" id="bio-copy">
        <section>
            <h1>Team C360</h1>
            <p>Yes, we’re ad nerds, but we have lives outside of work, too. (Most of us, anyway.) Among our staff you’ll find painters, writers, musicians, needle workers, skaters, gamers, beer geeks, improv comedians and zombie slayers. We think it’s a well-balanced crew.</p>
            <% if user_signed_in? %>
                <%= link_to('add', new_bio_path) %>
            <% end %>
        </section>
        <aside>
            <div class="hiring">
                <h5>Careers</h5>
                <p>C360 is always on the lookout for talent. <a>View available positions.</a></p>
            </div>
        </aside>
    </div>
    <div class="wrapper" id="bio-wrapper">
        <% @bios.each do | bio | %>
        <% name = bio.first_name + ' ' + bio.last_name %>
            <article>
                <%= link_to image_tag(bio.bio_pic.small_bio_pic), bio, :class => 'bio-link' %>
                <span>
                    <%= link_to(name, bio) %>
                    <% if user_signed_in? %>
                        <%= link_to "edit", edit_bio_path(bio) %>
                        <%= link_to "delete", bio_path(bio), method: :delete, data: { confirm: "You Sure?" } %>
                    <% end %>
                </span>
            </article>
        <% end %>
    </div>
</main>
<aside>

</aside>