<main id="<%= @bio.first_name %>">
    <article>
        <h1><span><%= @bio.first_name %></span> <%= @bio.last_name %></h1>
        <p class="title"><%= @bio.funny_title %> <span>|</span> <%= @bio.real_title %></p>
        <p><%= @bio.overview %></p>
        <p class="question"><%= @bio.question1 %><span><%= @bio.answer1 %></span></p>
        <p class="question"><%= @bio.question2 %><span><%= @bio.answer2 %></span></p>
        <p class="question"><%= @bio.question3 %><span><%= @bio.answer3 %></span></p>
        <p class="question"><%= @bio.question4 %><span><%= @bio.answer4 %></span></p>
        <p class="question"><%= @bio.question5 %><span><%= @bio.answer5 %></span></p>
    </article>
    <aside>
        <ul>
            <li>
                <svg version="1.1" id="Layer_1" width="108px" height="108px" viewBox="0 0 108 108">
                    <g>
                        <g>
                            <g>
                                <path fill="#E6E7E8" d="M107.182,44.623c-2.188-12.433-8.752-23.786-18.486-31.968l-1.17-0.982l-4.119,4.91l1.166,0.981
                                    c8.582,7.212,14.367,17.217,16.295,28.172l0.266,1.503l6.312-1.114L107.182,44.623z"/>
                                <g>
                                    <path fill="#E6E7E8" d="M95.959,76.484l-0.764,1.316c-5.607,9.666-14.457,17.094-24.922,20.915l-1.43,0.522l2.191,6.024
                                        l1.434-0.523c11.873-4.335,21.914-12.762,28.275-23.726l0.768-1.323L95.959,76.484z"/>
                                    <g>
                                        <path fill="#E6E7E8" d="M37.725,98.722c-10.459-3.819-19.31-11.255-24.923-20.938l-0.763-1.316l-5.552,3.205l0.766,1.32
                                            c6.366,10.985,16.408,19.42,28.276,23.753l1.433,0.523l2.192-6.023L37.725,98.722z"/>
                                        <path fill="#E6E7E8" d="M12.802,77.783C8.621,70.57,6.411,62.346,6.411,54c0-2.766,0.242-5.546,0.72-8.265l0.263-1.501
                                            l-6.313-1.113l-0.264,1.502C0.275,47.707,0,50.861,0,54c0,9.473,2.508,18.807,7.253,26.994l0.763,1.316l5.552-3.205
                                            L12.802,77.783z"/>
                                    </g>
                                    <path fill="#E6E7E8" d="M71.709,98.191l-1.436,0.524c-10.447,3.818-22.125,3.811-32.549,0.006l-1.433-0.522l-2.193,6.023
                                        l1.43,0.522c5.915,2.159,12.129,3.256,18.471,3.256c6.331,0,12.545-1.098,18.469-3.262l1.432-0.522L71.709,98.191z"/>
                                </g>
                                <path fill="#E6E7E8" d="M107.182,44.623l-0.264-1.502l-6.314,1.113l0.264,1.501c0.479,2.724,0.723,5.505,0.723,8.265
                                    c0,8.362-2.213,16.592-6.395,23.801l-0.768,1.322l5.553,3.207l0.764-1.316C105.49,72.829,108,63.487,108,54
                                    C108,50.862,107.725,47.707,107.182,44.623z"/>
                            </g>
                        </g>
                    </g>
                    <path fill="#E6E7E8" d="M54,0C41.324,0.001,28.994,4.501,19.283,12.672l-1.165,0.981l4.119,4.91l1.169-0.983
                        C31.963,10.378,42.829,6.412,54,6.412h1.526V0H54z"/>
                    <path fill="#E6E7E8" d="M20.452,11.689l-1.168,0.983C9.559,20.854,3,32.201,0.817,44.623l-0.265,1.502l6.314,1.113l0.265-1.503
                        c1.924-10.944,7.705-20.943,16.275-28.155l1.165-0.981L20.452,11.689z"/>
                    <path fill="#EA4226" d="M88.695,12.655C78.984,4.494,66.664,0,54,0h-1.524v6.412H54c11.159,0,22.016,3.96,30.573,11.151l1.17,0.981
                        l4.119-4.909L88.695,12.655z"/>
                </svg>
                <span>Skill1</span>
            </li>
            <li>
                <svg version="1.1" id="Layer_1" width="108px" height="108px" viewBox="0 0 108 108">
                    <g>
                        <g>
                            <g>
                                <path fill="#E6E7E8" d="M107.182,44.623c-2.188-12.433-8.752-23.786-18.486-31.968l-1.17-0.982l-4.119,4.91l1.166,0.981
                                    c8.582,7.212,14.367,17.217,16.295,28.172l0.266,1.503l6.312-1.114L107.182,44.623z"/>
                                <g>
                                    <path fill="#E6E7E8" d="M95.959,76.484l-0.764,1.316c-5.607,9.666-14.457,17.094-24.922,20.915l-1.43,0.522l2.191,6.024
                                        l1.434-0.523c11.873-4.335,21.914-12.762,28.275-23.726l0.768-1.323L95.959,76.484z"/>
                                    <g>
                                        <path fill="#E6E7E8" d="M37.725,98.722c-10.459-3.819-19.31-11.255-24.923-20.938l-0.763-1.316l-5.552,3.205l0.766,1.32
                                            c6.366,10.985,16.408,19.42,28.276,23.753l1.433,0.523l2.192-6.023L37.725,98.722z"/>
                                        <path fill="#E6E7E8" d="M12.802,77.783C8.621,70.57,6.411,62.346,6.411,54c0-2.766,0.242-5.546,0.72-8.265l0.263-1.501
                                            l-6.313-1.113l-0.264,1.502C0.275,47.707,0,50.861,0,54c0,9.473,2.508,18.807,7.253,26.994l0.763,1.316l5.552-3.205
                                            L12.802,77.783z"/>
                                    </g>
                                    <path fill="#E6E7E8" d="M71.709,98.191l-1.436,0.524c-10.447,3.818-22.125,3.811-32.549,0.006l-1.433-0.522l-2.193,6.023
                                        l1.43,0.522c5.915,2.159,12.129,3.256,18.471,3.256c6.331,0,12.545-1.098,18.469-3.262l1.432-0.522L71.709,98.191z"/>
                                </g>
                                <path fill="#E6E7E8" d="M107.182,44.623l-0.264-1.502l-6.314,1.113l0.264,1.501c0.479,2.724,0.723,5.505,0.723,8.265
                                    c0,8.362-2.213,16.592-6.395,23.801l-0.768,1.322l5.553,3.207l0.764-1.316C105.49,72.829,108,63.487,108,54
                                    C108,50.862,107.725,47.707,107.182,44.623z"/>
                            </g>
                        </g>
                    </g>
                    <path fill="#E6E7E8" d="M54,0C41.324,0.001,28.994,4.501,19.283,12.672l-1.165,0.981l4.119,4.91l1.169-0.983
                        C31.963,10.378,42.829,6.412,54,6.412h1.526V0H54z"/>
                    <path fill="#E6E7E8" d="M20.452,11.689l-1.168,0.983C9.559,20.854,3,32.201,0.817,44.623l-0.265,1.502l6.314,1.113l0.265-1.503
                        c1.924-10.944,7.705-20.943,16.275-28.155l1.165-0.981L20.452,11.689z"/>
                    <path fill="#EA4226" d="M88.695,12.655C78.984,4.494,66.664,0,54,0h-1.524v6.412H54c11.159,0,22.016,3.96,30.573,11.151l1.17,0.981
                        l4.119-4.909L88.695,12.655z"/>
                </svg>
                <span>Skill2</span>
            </li>
            <li>
                <svg version="1.1" id="Layer_1" width="108px" height="108px" viewBox="0 0 108 108">
                    <g>
                        <g>
                            <g>
                                <path fill="#E6E7E8" d="M107.182,44.623c-2.188-12.433-8.752-23.786-18.486-31.968l-1.17-0.982l-4.119,4.91l1.166,0.981
                                    c8.582,7.212,14.367,17.217,16.295,28.172l0.266,1.503l6.312-1.114L107.182,44.623z"/>
                                <g>
                                    <path fill="#E6E7E8" d="M95.959,76.484l-0.764,1.316c-5.607,9.666-14.457,17.094-24.922,20.915l-1.43,0.522l2.191,6.024
                                        l1.434-0.523c11.873-4.335,21.914-12.762,28.275-23.726l0.768-1.323L95.959,76.484z"/>
                                    <g>
                                        <path fill="#E6E7E8" d="M37.725,98.722c-10.459-3.819-19.31-11.255-24.923-20.938l-0.763-1.316l-5.552,3.205l0.766,1.32
                                            c6.366,10.985,16.408,19.42,28.276,23.753l1.433,0.523l2.192-6.023L37.725,98.722z"/>
                                        <path fill="#E6E7E8" d="M12.802,77.783C8.621,70.57,6.411,62.346,6.411,54c0-2.766,0.242-5.546,0.72-8.265l0.263-1.501
                                            l-6.313-1.113l-0.264,1.502C0.275,47.707,0,50.861,0,54c0,9.473,2.508,18.807,7.253,26.994l0.763,1.316l5.552-3.205
                                            L12.802,77.783z"/>
                                    </g>
                                    <path fill="#E6E7E8" d="M71.709,98.191l-1.436,0.524c-10.447,3.818-22.125,3.811-32.549,0.006l-1.433-0.522l-2.193,6.023
                                        l1.43,0.522c5.915,2.159,12.129,3.256,18.471,3.256c6.331,0,12.545-1.098,18.469-3.262l1.432-0.522L71.709,98.191z"/>
                                </g>
                                <path fill="#E6E7E8" d="M107.182,44.623l-0.264-1.502l-6.314,1.113l0.264,1.501c0.479,2.724,0.723,5.505,0.723,8.265
                                    c0,8.362-2.213,16.592-6.395,23.801l-0.768,1.322l5.553,3.207l0.764-1.316C105.49,72.829,108,63.487,108,54
                                    C108,50.862,107.725,47.707,107.182,44.623z"/>
                            </g>
                        </g>
                    </g>
                    <path fill="#E6E7E8" d="M54,0C41.324,0.001,28.994,4.501,19.283,12.672l-1.165,0.981l4.119,4.91l1.169-0.983
                        C31.963,10.378,42.829,6.412,54,6.412h1.526V0H54z"/>
                    <path fill="#E6E7E8" d="M20.452,11.689l-1.168,0.983C9.559,20.854,3,32.201,0.817,44.623l-0.265,1.502l6.314,1.113l0.265-1.503
                        c1.924-10.944,7.705-20.943,16.275-28.155l1.165-0.981L20.452,11.689z"/>
                    <path fill="#EA4226" d="M88.695,12.655C78.984,4.494,66.664,0,54,0h-1.524v6.412H54c11.159,0,22.016,3.96,30.573,11.151l1.17,0.981
                        l4.119-4.909L88.695,12.655z"/>
                </svg>
                <span>Skill3</span>
            </li>
            <li>
                <svg version="1.1" id="Layer_1" width="108px" height="108px" viewBox="0 0 108 108">
                    <g>
                        <g>
                            <g>
                                <path fill="#E6E7E8" d="M107.182,44.623c-2.188-12.433-8.752-23.786-18.486-31.968l-1.17-0.982l-4.119,4.91l1.166,0.981
                                    c8.582,7.212,14.367,17.217,16.295,28.172l0.266,1.503l6.312-1.114L107.182,44.623z"/>
                                <g>
                                    <path fill="#E6E7E8" d="M95.959,76.484l-0.764,1.316c-5.607,9.666-14.457,17.094-24.922,20.915l-1.43,0.522l2.191,6.024
                                        l1.434-0.523c11.873-4.335,21.914-12.762,28.275-23.726l0.768-1.323L95.959,76.484z"/>
                                    <g>
                                        <path fill="#E6E7E8" d="M37.725,98.722c-10.459-3.819-19.31-11.255-24.923-20.938l-0.763-1.316l-5.552,3.205l0.766,1.32
                                            c6.366,10.985,16.408,19.42,28.276,23.753l1.433,0.523l2.192-6.023L37.725,98.722z"/>
                                        <path fill="#E6E7E8" d="M12.802,77.783C8.621,70.57,6.411,62.346,6.411,54c0-2.766,0.242-5.546,0.72-8.265l0.263-1.501
                                            l-6.313-1.113l-0.264,1.502C0.275,47.707,0,50.861,0,54c0,9.473,2.508,18.807,7.253,26.994l0.763,1.316l5.552-3.205
                                            L12.802,77.783z"/>
                                    </g>
                                    <path fill="#E6E7E8" d="M71.709,98.191l-1.436,0.524c-10.447,3.818-22.125,3.811-32.549,0.006l-1.433-0.522l-2.193,6.023
                                        l1.43,0.522c5.915,2.159,12.129,3.256,18.471,3.256c6.331,0,12.545-1.098,18.469-3.262l1.432-0.522L71.709,98.191z"/>
                                </g>
                                <path fill="#E6E7E8" d="M107.182,44.623l-0.264-1.502l-6.314,1.113l0.264,1.501c0.479,2.724,0.723,5.505,0.723,8.265
                                    c0,8.362-2.213,16.592-6.395,23.801l-0.768,1.322l5.553,3.207l0.764-1.316C105.49,72.829,108,63.487,108,54
                                    C108,50.862,107.725,47.707,107.182,44.623z"/>
                            </g>
                        </g>
                    </g>
                    <path fill="#E6E7E8" d="M54,0C41.324,0.001,28.994,4.501,19.283,12.672l-1.165,0.981l4.119,4.91l1.169-0.983
                        C31.963,10.378,42.829,6.412,54,6.412h1.526V0H54z"/>
                    <path fill="#E6E7E8" d="M20.452,11.689l-1.168,0.983C9.559,20.854,3,32.201,0.817,44.623l-0.265,1.502l6.314,1.113l0.265-1.503
                        c1.924-10.944,7.705-20.943,16.275-28.155l1.165-0.981L20.452,11.689z"/>
                    <path fill="#EA4226" d="M88.695,12.655C78.984,4.494,66.664,0,54,0h-1.524v6.412H54c11.159,0,22.016,3.96,30.573,11.151l1.17,0.981
                        l4.119-4.909L88.695,12.655z"/>
                </svg>
                <span>Skill4</span>
            </li>
        </ul>
    </aside>


</main>
<div class="social">
    <%= render 'bios/pictures' %>
</div>
<section>
    <h2>Blog Posts</h2>
    <div class="wrapper">
        <%= render 'bios/original_roll' %>
    </div>
</section>
