<%= content_for :description, "Louisville and South Florida's Leading Integrated Marketing, Branding and Advertising Agency. Whatever you need to build and grow your brand, we do that." %>
<main class="home">
    <div class="intro-copy">
        <h1>Integrated Marketing, Branding, &amp; Strategy&nbsp;Services</h1>
        <p>Integrated marketing, branding and <%= link_to 'strategy', strategy_path %> services from a <%= link_to 'team', bios_path %> you'll love working with.</p>
    </div>
    <%= render 'layouts/icons' %>
    <%= render 'layouts/quote' %>
</main>


<div id="blog-caseStudy">
    <!-- import single featured blog -->
    <%# render 'pages/home/blog' %>
    <section class="featured-blog">
        <h3>Hot of the blog</h3>
        <article>
            <figure><%= link_to(image_tag('http://lorempixel.com/120/120/'), @featuredBlog) %></figure>
            <h2><%= link_to(@featuredBlog.title, @featuredBlog) %></h2>
            <p class="snippet"><p><%= truncate(strip_tags(@featuredBlog.content), length: 300) %></p>
            </p>
            <%= link_to('Continue', @featuredBlog, :class => 'button') %>
        </article>
    </section>

    <!-- import Case study -->
    <% if @caseStudy.landing_image.url.present? %>
    <section class="case-study" style="background: url(<%= @caseStudy.landing_image.url %>) no-repeat left top; background-size: cover; -moz-background-size: cover;">
        <h2>Featured Work</h2>
        <h3><%= @caseStudy.title %></h3>
        <blockquote><%= raw @caseStudy.quote %></blockquote>
        <cite><%= raw @caseStudy.cite %></cite>
        <%= link_to('Case Study', @caseStudy, :class => "button") %>
    </section>
    <% else %>
    <section class="case-study">
        <h2>Featured Work</h2>
        <h3><%= @caseStudy.title %></h3>
        <blockquote><%= raw @caseStudy.quote %></blockquote>
        <cite><%= raw @caseStudy.cite %></cite>
        <%= link_to('Case Study', @caseStudy, :class => "button") %>
    </section>
    <% end %>
</div>
<!-- import Culture -->
<section class="culture">
    <h4>Culture at Current360</h4>
    <span id="culture-wrapper">
        <ul class="bio-list-one no-disc">
            <li><a href="#"><%= link_to image_tag(@bios[0].bio_pic.small_bio_pic), @bios[0] %></a></li>
            <li><a href="#"><%= link_to image_tag(@bios[1].bio_pic.small_bio_pic), @bios[1] %></a></li>
            <span class="more">
                <li><a href="#"><%= link_to image_tag(@bios[2].bio_pic.small_bio_pic), @bios[2] %></a></li>
                <li><a href="#"><%= link_to image_tag(@bios[3].bio_pic.small_bio_pic), @bios[3] %></a></li>
            </span>
        </ul>
        <article>
            <h5>Looking for a career?</h5>
            <%= link_to "More Info", careers_path, :class => "button" %>
        </article>
        <ul class="bio-list-two no-disc">
            <li><a href="#"><%= link_to image_tag(@bios[4].bio_pic.small_bio_pic), @bios[4] %></a></li>
            <li><a href="#"><%= link_to image_tag(@bios[5].bio_pic.small_bio_pic), @bios[5] %></a></li>
            <span class="more">
                <li><a href="#"><%= link_to image_tag(@bios[6].bio_pic.small_bio_pic), @bios[6] %></a></li>
                <li><a href="#"><%= link_to image_tag(@bios[7].bio_pic.small_bio_pic), @bios[7] %></a></li>
            </span>
        </ul>
    </span>
</section>
<%= render 'forms/newsletter' %>