<h1>Contact from <%= @contact.name %></h1>
<p><%= @contact.name %>'s email is <%= @contact.email %></p>
<p>Message:<br><%= @contact.message %></p>
<p>Reason for contact: <%= @contact.reason %></p>
<p>Did they opt into the newsletter? <%= @contact.newsletter %></p>