<h1>Employment inquiry from <%= @job.first_name %> <%= @job.last_name %></h1>
<p><%= @job.first_name %>'s email is <%= @job.email %></p>
<p>Phone: <%= @job.phone %></p>
<p>Areas of interest:<br><%= @job.message %></p>