<ul>
    <li><a href="<%= work_banking_financial_path %>">Banking and Financial</a></li>
    <li><a href="<%= work_adult_beverages_path %>">Adult Beverages</a></li>
    <li><a href="<%= work_casual_dining_path %>">Casual Dining</a></li>
    <li><a href="<%= work_healthcare_path %>">Healthcare</a></li>
    <li><a href="<%= work_high_impact_retail_path %>">High Impact Retail</a></li>
    <li><a href="<%= work_home_improvement_path %>">Home Improvement</a></li>
    <li><a href="<%= work_pet_care_path %>">Pet Care</a></li>
    <li><a href="<%= work_philanthropic_path %>">Philanthropic</a></li>
    <li><a href="<%= work_education_path %>">Education</a></li>
    <li><a href="<%= work_festivals_events_path %>">Festivals &amp; Events</a></li>
    <li><a href="<%= work_additional_projects_path %>">Other</a></li>
    <li><a href="<%= work_fitness_wellness_path %>">Fitness &amp; Wellness</a></li>
</ul>