<%= form_for @project, :html => { :multipart => true } do |project| %>
    <h2>General Info</h2>
    <%= project.label :title %>
    <%= project.text_field :title %>
    <%= project.label :challenge %>
    <%= project.text_area :challenge %>
    <%= project.label :insight %>
    <%= project.text_area :insight %>
    <%= project.label :solution %>
    <%= project.text_area :solution %>
    <%= project.label :results %>
    <%= project.text_area :results %>
    <%= project.label :category %>
    <%= project.select :category,
                options_for_select( Project.categories.collect { |category| [category[0].humanize, category[0]] }) %>
    <h2>Quote</h2>
    <%= project.label :quote %>
    <%= project.text_field :quote %>
    <%= project.label :cite %>
    <%= project.text_field :cite %>
    <h2>Images</h2>
    <%= project.label :main_image %>
    <%= project.file_field :main_image %>
    <%= project.label :side_image1 %>
    <%= project.file_field :side_image1 %>
    <%= project.label :side_image1 %>
    <%= project.file_field :side_image2 %>
    <%= project.label :logo %>
    <%= project.file_field :logo %>
    <%= project.label :landing_image %>
    <%= project.file_field :landing_image %>
    <h2>Competencies</h2>
    <%= project.label :comp1 %>
    <%= project.text_field :comp1 %>
    <%= project.label :comp2 %>
    <%= project.text_field :comp2 %>
    <%= project.label :comp3 %>
    <%= project.text_field :comp3 %>
    <%= project.label :comp4 %>
    <%= project.text_field :comp4 %>
    <%= project.label :comp5 %>
    <%= project.text_field :comp5 %>

    <%= project.submit %>
<% end %>