<h2>What we did</h2>
<ul>
    <li><%= @project.comp1 %></li>
    <li><%= @project.comp2 %></li>
    <li><%= @project.comp3 %></li>
    <li><%= @project.comp4 %></li>
    <li><%= @project.comp5 %></li>
</ul>