<%= render 'layouts/head' %>
<body class="<%= controller.controller_name %> <%= controller.controller_name %>-<%= controller.action_name %>">
    <span class="bg"></span>

    <%= render 'layouts/header' %>
    <% if notice %>
        <div class="notice"><%= notice %></div>
    <% end %>

    <% if alert %>
        <div class="alert"><%= alert %></div>
    <% end %>

    <% if user_signed_in? %>
        <div class="admin">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            <%= link_to "Admin Page", circuit_path %>
            <%= link_to "Edit Account", edit_user_registration_path %>
        </div>

    <% end %>

    <%= content_for(:content) ? yield(:content) : yield %>
    <%= render 'layouts/footer' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
