<%= render 'layouts/head' %>
<body class="<%= controller.controller_name %> <%= controller.controller_name %>-<%= controller.action_name %>">
    <span class="bg"></span>

    <%= render 'layouts/header' %>
    <%= content_for(:content) ? yield(:content) : yield %>
    <%= render 'layouts/footer' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
